<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>my</title>
		<script src="js/jquery.min.js"></script>
	</head>

	<body>
		<import href="link.html" async="async"></import>
		<h2>My Name：<%= name %></h2>
	</body>

</html>